#cf {
    left: 0;
    top: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    /* From https://css.glass */
}

#cf img {

    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.background {
    opacity: 0.3;
    z-index: 2;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(252, 252, 69);
    background: linear-gradient(90deg, rgba(252, 252, 69, 1) 0%, rgba(191, 118, 208, 1) 50%, rgba(58, 74, 180, 1) 100%);
}


@keyframes cf1FadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    77% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cf2FadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    52% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    27% {
        opacity: 0;
    }

    76% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#cf img.one {
    animation-name: cf1FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-direction: alternate;
}

#cf img.two {
    animation-name: cf2FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-direction: alternate;
}

#cf img.there {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-direction: alternate;
}

.main {
    padding: 50px;
    margin-left: 5%;
    position: absolute;
    height: 100vh;
    width: 90%;
    border: solid;
    z-index: 3;
    border-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.main img {
    border: solid;
    width: 150px;
    border-radius: 50%;
}


/* CSS */
.main a {
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline-style: none;
    margin-top: 30px;
    width: 330px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: 0.4s;
    /*background: rgb(252, 252, 69);*/
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    box-shadow: #8e2de2 2px 2px, #7b20e1 4px 4px, #6310e1 6px 6px, #4a00e0 8px 8px
}

.main a i {
    color: white;

    padding: 0;
    margin: 0;
    font-size: 25px;
}

.main a p {
    color: white;

    margin: 0;
    padding-left: 5px;

}

.main a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.main a:active {
    transform: translate(4px);
    box-shadow: #8e2de2 1px 1px, #7b20e1 2px 2px, #6310e1 3px 3px, #4a00e0 4px 4px
}

.main a:focus {
    outline: 0;
}