/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables CSS */

:root {
    --primary-color: #fa6900;
    --white-color: #FFFFFF;
    --text-color: #484848;
    --gray-color: #888888;
    --invert-primary-color: #fa6900;
    --invert-text-color: #FFFFFF;
    --invert-bg-color: #2B3137;
}

@property --gap {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

/* Main Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[name="m"] {
    position: absolute;
    z-index: 5;
    visibility: hidden;
}

#p1:checked~.slides {
    margin-top: 0;
}

#p2:checked~.slides {
    margin-top: -70vh
}

#p3:checked~.slides {
    margin-top: -140vh;
}

#p4:checked~.slides {
    margin-top: -210vh;
}

#p5:checked~.slides {
    margin-top: -280vh;
}



body {
    min-height: 100vh;
    font-family: Montserrat;
    background: var(--white-color);
    transition: .3s;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.background {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100vh;

}

.background img {
    width: 100%;

}

.container {
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 23px 0;
    background: var(--white-color);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, .8);
    transition: .3s;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-color: --gray-color;
    border-width: 1px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 600;
    font-size: 28px;
    color: var(--text-color);
    transition: .3s;
}

.header__rightside {
    display: flex;
    align-items: center;
}

.header-menu__list {
    display: flex;
    align-items: center;
}

.header-menu__item {
    padding: 0 10px;
}

.header-menu__link {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color);
    display: inline-flex;
    position: relative;
    transition: .3s;
}

.header-menu__link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 4px;
    background: var(--primary-color);
    border-radius: 2px;
    transition: .3s;
}

.header-menu__link:hover:after {
    width: 100%;
}

.header__moon {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
}

.header__mob-menu {
    margin-left: 10px;
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
}

.header__mob {
    display: none;
}

.intro {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}



.intro__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.intro__content {
    max-width: 600px;
    width: 100%;
    padding-right: 20px;
    max-height: 500px;
    overflow: hidden;

}

.slides {
    position: relative;
    width: 100%;
    height: 500vh;
    display: flex;
    flex-direction: column;
    transition: 400ms all;

}

.skillsbar {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
    margin-bottom: 10px;
}

.skill {
    width: 300px;
}

.skillsbar .intro__title {
    font-size: 24px;
}

.skillsbar .intro__position {
    font-size: 14px;
}

.page1,
.page2,
.page3,
.page4,
.page5 {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    height: 60vh;
    width: 100%;
    margin-bottom: 10vh;
}

.page4 {
    display: flex;
    flex-direction: column;

}

.intro__info .intro__title {
    font-size: 18px;
}

.intro__info .intro__position {
    font-size: 14px;
}

.medium_blog {
    display: flex;
    height: 140px;
    padding-bottom: 10px;
    padding-right: 15px;
    transition: 400ms all;
}

.medium_blog:hover {
    opacity: 0.8;
}

.medium_blog img {
    height: 100px;
    border-radius: 5px;
}

.intro__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro__img {
    max-width: 500px;
    align-items: center;



}

.intro__img img {
    --border: 15px;
    --gap: 20px;
    --color: #fa6900;
    width: 400px;
    aspect-ratio: 1;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    --angle: 90deg;
    background: radial-gradient(farthest-side, #fa6900 97%, #0000 101%) 85.35% 85.35%,
        conic-gradient(from calc(180deg - var(--angle) / 2),
            #0000 var(--angle),
            var(--color) 0),
        radial-gradient(farthest-side, #fa6900 97%, #0000 101%) 14.65% 85.35%;
    background-size: var(--border) var(--border), auto;
    background-repeat: no-repeat;
    -webkit-mask: radial-gradient(farthest-side,
            #000 calc(99% - calc(var(--border) + var(--gap))),
            #0000 calc(100% - calc(var(--border) + var(--gap))) calc(99% - var(--border)),
            #000 calc(100% - var(--border)));
    mask: radial-gradient(farthest-side,
            #000 calc(99% - calc(var(--border) + var(--gap))),
            #0000 calc(100% - calc(var(--border) + var(--gap))) calc(99% - var(--border)),
            #000 calc(100% - var(--border)));
    transition: --angle 0.4s, --gap 0.4s;
}

.intro__img:hover img {
    --angle: 0deg;
    --gap: 5px;
}

.intro__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: .3s;
}

.intro__title span {
    color: var(--primary-color);
    transition: .3s;
}

.intro__position {
    display: block;
    font-weight: 500;
    font-size: 24px;
    color: var(--gray-color);
    margin-bottom: 25px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: .3s;
}

.btn {
    display: inline-flex;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    padding: 13px 36px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
    transition: .3s;
}

.btn .bx {
    font-size: 24px;
}

.btn:hover {
    background: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.05);
}

.intro-soc {
    display: flex;
    margin: 0 -10px;
    margin-top: 40px;
    align-items: center;
}

.intro-soc__item {
    padding: 0 10px;
}

.intro-soc__link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    background: transparent;
    font-size: 24px;
    color: var(--primary-color);
    transition: .3s;
}

.intro-soc__link:hover {
    background: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.15);
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.social-media .intro__position {
    padding-left: 10px;
    padding-top: 5px;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, .2);
    justify-content: end;

}

footer .intro__position {
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 5px;

}

/* Black Styles */

body.is-black {
    background: var(--invert-bg-color);
}

.is-black .c100:after {
    background: #2B3137;


}

.is-black .header {
    background: var(--invert-bg-color);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

.is-black .header__logo {
    color: var(--invert-text-color);
}

.is-black .header-menu__link {
    color: var(--invert-text-color);
}

.is-black .header-menu__link:after {
    background: var(--invert-primary-color);
}

.is-black .header__moon {
    color: var(--invert-text-color);
}

.is-black .intro__title {
    color: var(--invert-text-color);
}

.is-black .intro__title span {
    color: var(--invert-primary-color);
}

.is-black .intro__text {
    color: var(--invert-text-color);
}

.is-black .btn {
    color: var(--invert-primary-color);
    border-color: var(--invert-primary-color);
}

.is-black .btn:hover {
    background: var(--invert-primary-color);
    color: var(--white-color);
}

.is-black .intro-soc__link {
    color: var(--invert-primary-color);
    border-color: var(--invert-primary-color);
}

.is-black .intro-soc__link:hover {
    background: var(--invert-primary-color);
    color: var(--white-color);
}

.is-black .header__mob-menu {
    color: var(--invert-text-color);
}

/* Media Queries */

@media (max-width: 1023px) {
    .header-menu__link {
        font-size: 16px;
    }

    .header__logo {
        font-size: 24px;
    }

    .intro__title {
        font-size: 42px;
    }

    .intro__position {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .intro__text {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .intro-soc {
        margin-top: 20px;
    }

    .btn {
        font-size: 14px;
    }

    .btn .bx {
        font-size: 20px;
    }


}

@media (max-width: 767px) {
    .header {
        padding: 20px 0;
    }

    .intro {
        min-height: calc(100vh - 69px);
    }

    .header-menu {
        position: fixed;
        top: 69px;
        left: 100%;
        width: 100%;
        height: calc(100vh - 69px);
        background: rgba(255, 255, 255, .4);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }

    .header-menu.is-active {
        left: 0;
    }

    .header-menu__list {
        flex-direction: column;
    }

    .header__mob {
        display: block;
    }

    .is-black .header-menu {
        background: rgba(0, 0, 0, .8);
    }

    .header-menu__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .header-menu__link {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        opacity: 1;
        color: black;

    }

    .intro__body {
        flex-direction: column-reverse;
    }

    .intro__img {
        margin-bottom: 30px;
    }

    .intro__img img {
        width: 300px;
    }

    .intro__content {
        padding: 0;
        max-height: 60vh;
    }

    .intro__title {
        font-size: 42px;
        text-align: center;
    }

    .intro__position {
        text-align: center;
    }

    .medium_blog {
        height: 100px;
    }

    .medium_blog img {
        width: 60px;
        height: 60px;
    }

    .intro__info .intro__title {
        font-size: 13px;
    }

    .intro__info .intro__position {
        font-size: 10px;
    }

    .intro__text {
        text-align: center;
    }

    .intro__btn {
        display: flex;
        justify-content: center;
    }

    .skillsbar .intro__title {
        font-size: 16px;

    }

    .skillsbar .intro__position {
        font-size: 12px;
    }

    .intro-soc {
        justify-content: center;
    }

    footer {
        bottom: -300px;
    }

    footer .intro__position {
        font-size: 12px;
    }
}